@import '/vendor/filament/filament/resources/css/theme.css';

@config 'tailwind.config.js';
.fi-sidebar {
    border-style: solid !important;
    border-right-width: 1px !important;
    border-color: #d4d4d8 !important;
}
.fi-sidebar:is(.dark *) {
    border-style: solid !important;
    border-right-width: 1px !important;
    border-color: hsla(0,0%,100%,.1) !important;
}
.fi-sidebar-nav {
    background-color: white !important;
}
.fi-sidebar-nav:is(.dark *) {
    background-color: #171717 !important;
}
.fi-sidebar-header {
    background-color: white !important;
}
.fi-sidebar-header:is(.dark *) {
    background-color: #171717 !important;
}
.fi-simple-main:is(.dark *) {
    background-color: #171717 !important;
}
.fi-sidebar-item-label {
    font-size: 0.85rem;
}
.fi-sidebar-item-icon {
    height: 1.2rem !important;
    width: 1.2rem !important;
}
.fi-icon-btn-icon {
    height: 1.2rem !important;
    width: 1.2rem !important;
}
.fi-avatar {
    height: 1.5rem !important;
    width: 1.5rem !important;
}
.fi-panel-admin {
    background-color: #fafafa !important;
}
.fi-panel-admin:is(.dark *) {
    background-color: #171717 !important;
}

.fi-ta-ctn:is(.dark *) {
    background-color: #1f1f1f !important;
}
.fi-ta-header-cell-label {
    font-size: 0.85rem;
    font-weight: bold;
    line-height: 1rem;
}
.fi-ta-text-item-label {
    font-size: 0.82rem;
    line-height: 1rem;
}
.fi-ta-text p {
    font-size: .8rem;
    line-height: 1rem;
}
.fi-ta-image {
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
}
.fi-ta-image img[style] {
    height: 2rem !important;
    width: 2rem !important;
}
.fi-input-wrp:focus-within:not(:has(.fi-ac-action:focus)):is(.dark *) {
    --tw-ring-opacity: 1;
    --tw-ring-color: rgba(101, 163, 13,var(--tw-ring-opacity,1));
}
#nprogress .bar {
    background: #10b981 !important; /* Gunakan warna Tailwind */
}
.dark #nprogress .bar {
    background: #10b981 !important; /* Warna lain saat mode gelap */
}
.fi-input-wrp:focus-within:not(:has(.fi-ac-action:focus)) {
    --tw-ring-color: #65a30d;
}
.fi-sidebar-item-icon:is(.dark *) {
    color: #65a30d;
}
.fi-dropdown-panel:is(.dark *) {
    /* background-color: #242424 !important; */ 
    @apply bg-[#242424]/70 backdrop-blur-md !important;
}
.fi-modal-window:is(.dark *) {
    background-color: #171717 !important;
}
.fi-fo-date-time-picker-panel:is(.dark *) {
    @apply bg-[#242424]/50 backdrop-blur-md ring-1 ring-[#65a30d]/30 !important;
}
.fi-fo-date-time-picker-panel:is(.dark *) select {
    @apply bg-[#242424]/70 backdrop-blur-lg ring-1 ring-[#65a30d]/30 rounded px-2 !important;
}

.fi-global-search-result-group:is(.dark *) {
    background-color: #171717 !important;
}
.fi-global-search-result-group:is(.dark *) div {
    background-color: #171717 !important;
    border-color: #65a30d;
}
.fi-section:is(.dark *) {
    background-color: #1f1f1f !important;
}
.fi-fo-tabs-tab:is(.dark *) {
    background-color: #1f1f1f !important;
}
.fi-tabs:is(.dark *) {
    background-color: #1f1f1f !important;
}
.fi-tabs-item-label {
    font-size: 13px;
    line-height: 1.2rem;
}
.fi-input {
    line-height: 1rem;
}
.fi-btn {
    font-size: .75rem;
    line-height: 1rem;
    --tw-ring-color: hsl(0, 0%, 84.3%);
}
.fi-btn:is(.dark *) {
    --tw-bg-opacity: 1;
    --tw-ring-color:hsl(0, 0%, 19.2%);
}
.fi-btn-label:is(.dark *) {
    font-size: .75rem;
    line-height: 1rem;
}
.fi-btn-icon:is(.dark *) {
    height: 1rem;
    width: 1rem;
}
.fi-dropdown-header-label {
    font-size: 13px;
    line-height: 1.2rem;
}
.fi-dropdown-header-icon:is(.dark *) {
    color: hsl(84.8 85.2% 34.5%);
}
.fi-theme-switcher svg {
    height: 1rem;
    width: 1rem;
}
.fi-dropdown-list-item-icon:is(.dark *) {
    height: 1rem;
    width: 1rem;
    color: hsl(84.8 85.2% 34.5%);
}
.fi-dropdown-list-item-label {
    font-size: 12px;
    line-height: 1.2rem;
}
.fi-btn-icon {
    height: 1rem;
    width: 1rem;
}
.fi-header-heading {
    font-size: 1.25rem;
    line-height: 1.75rem;
}
.bg-surface-100 {
    background-color: white;
}
.bg-surface-100:is(.dark *) {
    opacity: 85%;
    background-color: #171717 !important;
}
.border-list-100 {
    border-style: solid !important;
    border-width: 1px !important;
    border-color: #d4d4d8 !important;
}
.bgshortcut:is(.dark *) {
    /*background-color: #242424 !important;*/
    @apply bg-[#242424]/30 backdrop-blur-md ring-1 ring-[hsla(0,0%,100%,.1)] !important;
}
.cta-modal {
    /*background-color: #242424 !important;*/
    @apply bg-white ring-1 ring-gray-400/50 !important;
    box-shadow: 0 10px 13px #00000026, 0 17px 17px #00000021, 0 28px 20px #00000014, 0 44px 22px #00000005, 0 64px 24px #0000, 0 0 0 5px #01213921, 0 0 0 4px #fff, 0 0 0 1px #01213921 !important;
}
.border-list-100:is(.dark *) {
    border-style: solid !important;
    border-width: 1px !important;
    border-color: #3f3f46 !important;
}
.isactive {
    border-color: #65a30d;
    border-style: solid !important;
    border-width: 1px !important;
    border-radius: 6px;
    padding-inline: 10px;
    padding-block: 2px;
}
.isactive:is(.dark *) {
    color: #ffffff;
    border-color: #65a30d;
    border-style: solid !important;
    border-width: 1px !important;
    border-radius: 6px;
    padding-inline: 10px;
    padding-block: 2px;
}
.fi-modal-window {
    @apply bg-white ring-1 ring-gray-400/50 !important;
    box-shadow: 0 10px 13px #00000026, 0 17px 17px #00000021, 0 28px 20px #00000014, 0 44px 22px #00000005, 0 64px 24px #0000, 0 0 0 5px #01213921, 0 0 0 4px #fff, 0 0 0 1px #01213921 !important;
}
.fi-modal-close-overlay {
    background-color: #ffffff !important;
    opacity: 0.1 !important;
}

.fi-topbar nav {
    height: 3.2rem;
}
.fi-topbar nav:is(.dark *) {
    height: 3.2rem;
    background-color: #171717 !important;
}

.fi-no-notification {
    @apply bg-[#242424]/20 backdrop-blur-md ring-1 ring-[#65a30d]/30 !important;
}

.choices__list--dropdown:is(.dark *) {
    background-color: #171717 !important;

}
select {
    border-radius: 0.5rem !important;
    /* font-size: 0.75rem !important; */
    line-height: 1rem !important;
    font-weight: 500 !important;
    /* box-shadow: 0 10px 13px #00000026, 0 17px 17px #00000021, 0 28px 20px #00000014, 0 44px 22px #00000005, 0 64px 24px #0000, 0 0 0 5px #01213921, 0 0 0 4px #fff, 0 0 0 1px #01213921 !important; */
}
select:is(.dark *) {
    @apply bg-[#242424] !important;
    border-radius: 0.5rem !important;
    /* font-size: 0.75rem !important; */
    line-height: 1rem !important;
    font-weight: 500 !important;
    /* box-shadow: 0 10px 13px #00000026, 0 17px 17px #00000021, 0 28px 20px #00000014, 0 44px 22px #00000005, 0 64px 24px #0000, 0 0 0 5px #01213921, 0 0 0 4px #fff, 0 0 0 1px #01213921 !important; */
}
option:is(.dark *) {
    @apply bg-[#242424]/10 backdrop-blur-md !important;
    color: #ffffff !important;
}